<% if @name %>
<h1>Hi my name is <%= @name %> </h1>
<% end %>

<% if @colour %>
<h2>My fur is <%= @colour %> </h2>
<% end %>

<% if @personality %>
<h2> I am very <%= @personality %> </h2>
<% end %>

<div style ="border: 3px dashed red">
<img src = "https://i.imgur.com/jFaSxym.png" >
</div>

